// SPDX-License-Identifier: GPL-2.0-only
// Definitions for Analog Devices ADV748x HDMI to CSI2 bridge on VC I2C bus
/dts-v1/;
/plugin/;

/{
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&i2c_csi_dsi>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			adv748x: adv748x@71 {
				compatible = "adi,adv7482";
				reg = <0x71 0x72 0x73 0x74 0x75 0x76
				       0x60 0x61 0x62 0x63 0x64 0x65>;
				reg-names = "main", "dpll", "cp", "hdmi", "edid", "repeater",
					    "infoframe", "cbus", "cec", "sdp", "txa", "txb";

				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";

				port@7 {
					reg = <7>;

					adv7482_ain7: endpoint {
						remote-endpoint = <&cvbs_con>;
					};
				};

				port@8 {
					reg = <8>;

					adv7482_hdmi: endpoint {
						remote-endpoint = <&hdmi_in_con>;
					};
				};

				port@a {
					reg = <10>;

					adv7482_txa: endpoint {
						clock-lanes = <0>;
						data-lanes = <1 2>;
						remote-endpoint = <&csi1_ep>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&csi1>;
		__overlay__ {
			status = "okay";

			port {
				csi1_ep: endpoint {
					clock-lanes = <0>;
					data-lanes = <1 2>;
					remote-endpoint = <&adv7482_txa>;
				};
			};
		};
	};

	fragment@2 {
		target-path = "/";
		__overlay__ {
			cvbs-in {
				compatible = "composite-video-connector";
				label = "CVBS IN";

				port {
					cvbs_con: endpoint {
						remote-endpoint = <&adv7482_ain7>;
					};
				};
			};

			hdmi-in {
				compatible = "hdmi-connector";
				label = "HDMI IN";
				type = "a";

				port {
					hdmi_in_con: endpoint {
						remote-endpoint = <&adv7482_hdmi>;
					};
				};
			};
		};
	};

	fragment@3 {
		target = <&i2c0if>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&i2c0mux>;
		__overlay__ {
			status = "okay";
		};
	};

	__overrides__ {
		addr =			<&adv748x>,"reg:0";
	};
};